.hidden
	#about.popup-course
		.popup-course__container
			.popup-course__column.popup-course__column_pr
				.popup-course__cell.popup-course__cell_pr: img.popup-course__pr(src="images/popup-about/1.jpg" width="600" height="400")
				.popup-course__cell.popup-course__cell_pr: img.popup-course__pr(src="images/popup-about/2.jpg" width="600" height="400")
			.popup-course__column.popup-course__column_desc: .popup-course__inner
				.popup-course__title О нас
				p.p «Каждый из нас замечает насколько стремительно развивается современная экономика, как повышается ее сложность и растет уровень конкуренция. Инвесторы, компании и организации в любой отрасли постоянно ищут пути для создания стоимости, открывая новые возможности на рынке, совершенствуя организацию деятельности, управляя рисками, создавая стоимость компаний и развивая, самый важный и высокодоходный вид капитала – человеческий капитал.

				p.p Основной инструмент для создания стоимости, единый для всех руководителей и инвесторов – принятие решений. От того насколько последовательными и успешными будут эти решения зависит будущее компаний и карьера ее сотрудников, благосостояние акционеров и конкурентоспособность национальных экономик.

				p.p Растет ценность решений, которые создают стоимость, повышается стоимость сотрудников, которые способны принимать и реализовывать такие решения. При этом растет и конкуренция за возможность работать совместно с лучшими и наиболее талантливыми в передовых и быстроразвивающихся компаниях мирового уровня, повышаются требования к уровню знаний и навыков кандидатов на каждую управленческую позицию.
				
				p.p К счастью знания можно получить, а навыки развить. Такую возможность сегодня дают различные бизнес-школы. Главным решением для их будущего слушателя становится не то, получать или нет новые знания – такого выбора современная экономика просто не оставляет, а то какую школу для этого выбрать. 
				
				p.p Любая успешная бизнес-школа — это не только богатая история, выпускники, успехами которых она гордится, не только удобные и хорошо оснащенные классы. Это прежде всего уникальные собственные программы, нацеленные на развитие практических навыков и получение знаний о реальной экономике и современной бизнес-среде, а также возможность общения с преподавателями, которые способны передать свои знания и опыт, накопленный за годы практической деятельности как в сфере MBA образования, так и на рынке разных стран мира. 
				
				p.p Мы уверены, что, придя к нам в ИБАД в Государственный Университет Управления, вы сделаете правильный выбор, который на долгие годы определит успех вашей карьеры и качество принимаемых вами управленческих решений.»

				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#course-1.popup-course: .popup-course__container
		.popup-course__column.popup-course__column_pr
			.popup-course__cell.popup-course__cell_name
				.popup-course__mba MBA
				.popup-course__name Финансы
			.popup-course__cell.popup-course__cell_pr
				img.popup-course__pr(src="images/popup-course/1.jpg" width="450" height="400")
		.popup-course__column.popup-course__column_desc: .popup-course__inner
			.popup-course__title Программа МВА, специализация: «Финансы»
			.popup-course__slogan MBA-programme, specialization – finance 
			.popup-course__desc
				p.p Вы получите знания в области:
				ul.ul
					li.ul__li научных основ бизнеса и менеджмента;
					li.ul__li финансового моделирования и финансового планирования;
					li.ul__li разработки финансовых политик;
					li.ul__li корпоративных финансов;
					li.ul__li управления стоимостью активов и бизнеса;
					li.ul__li инвестиционного менеджмента;
					li.ul__li риск-менеджмента;
					li.ul__li маркетинга и бренд-менеджмента;
					li.ul__li личностного и профессионального развития;
					li.ul__li управления человеческими ресурсами организации.
				p.p В процессе обучения слушатели овладеют современными финансовыми и управленческими технологиями, которые помогут:
				ul.ul
					li.ul__li эффективно управлять денежные потоками;
					li.ul__li разрабатывать адекватную финансовую и инвестиционную политики;
					li.ul__li систематизировать процессы аналитического, управленческого учета и учета с целью налогообложения;
					li.ul__li построить систему стратегического риск-менеджмента компании;
					li.ul__li выстроить систему финансового планирования и бюджетирования;
					li.ul__li выстроить систему налогового планирования и администрирования;
					li.ul__li эффективно управлять инвестиционной привлекательностью компании;
					li.ul__li успешно работать на рынке капитала, обеспечивая финансовую устойчивость и надежность бизнеса;
					li.ul__li эффективно управлять бизнес-процессами компании;
					li.ul__li сформировать эффективную команду.
			p.p
				a.button.button_size_lg.button_theme_burgundy.popup-course__button(href="#order" data-fancybox) Получить консультацию
				a.button.button_size_lg.button_theme_burgundy-bordered.popup-course__button(href="#order" data-fancybox) Получить учебный план
			p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#course-2.popup-course: .popup-course__container
		.popup-course__column.popup-course__column_pr
			.popup-course__cell.popup-course__cell_name
				.popup-course__mba MBA
				.popup-course__name Банковский менеджмент
			.popup-course__cell.popup-course__cell_pr
				img.popup-course__pr(src="images/popup-course/2.jpg" width="450" height="400")
		.popup-course__column.popup-course__column_desc: .popup-course__inner
			.popup-course__title Программа МВА, специализация: «Банковский менеджмент»
			.popup-course__slogan MBA-programme, specialization – bank management
			.popup-course__desc
				p.p Вы получите знания в области:				
				ul.ul
					li.ul__li научных основ бизнеса и менеджмента;
					li.ul__li финансового моделирования и финансового планирования;
					li.ul__li инструментария банковского менеджмента;
					li.ul__li управления активами и пассивами кредитной организации;
					li.ul__li оценки и управления финансовой устойчивостью кредитной организации;
					li.ul__li построения системы риск-менеджмента и внутреннего контроля кредитной организации;
					li.ul__li развития банковских сервисов;
					li.ul__li управления отношениями с клиентами;
					li.ul__li инвестиционного менеджмента;
					li.ul__li маркетинга и бренд-менеджмента;
					li.ul__li личностного и профессионального развития;
					li.ul__li управления человеческими ресурсами организации.
				p.p В процессе обучения слушатели овладеют современными банковскими и управленческими технологиями, которые помогут:
				ul.ul
					li.ul__li эффективно использовать современные финансовые инструменты;
					li.ul__li управлять розничными продажами;
					li.ul__li построить систему стратегического риск-менеджмента Банка;
					li.ul__li разработать конкурентную стратегию Банка;
					li.ul__li развивать банковские сервисы и банковские продукты;
					li.ul__li использовать современные цифровые технологии в управлении бизнесом.
					li.ul__li использовать инструменты Big Data и бизнес-аналитики для повышения эффективности управленческих решений;
					li.ul__li эффективно управлять инвестиционной привлекательностью Банка;
					li.ul__li успешно работать на рынке капитала, обеспечивая финансовую устойчивость и надежность Банка;
					li.ul__li обеспечить сбалансированность бизнес-процессами Банка;
					li.ul__li сформировать эффективную команду.
				
			p.p
				a.button.button_size_lg.button_theme_burgundy.popup-course__button(href="#order" data-fancybox) Получить консультацию
				a.button.button_size_lg.button_theme_burgundy-bordered.popup-course__button(href="#order" data-fancybox) Получить учебный план
			p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#course-3.popup-course: .popup-course__container
		.popup-course__column.popup-course__column_pr
			.popup-course__cell.popup-course__cell_name
				.popup-course__mba MBA
				.popup-course__name Управление стоимостью бизнеса
			.popup-course__cell.popup-course__cell_pr
				img.popup-course__pr(src="images/popup-course/3.jpg" width="450" height="400")
		.popup-course__column.popup-course__column_desc: .popup-course__inner
			.popup-course__title Программа МВА, специализация: «Управление стоимостью бизнеса»
			.popup-course__slogan MBA-programme, specialization – Business Value Management 
			.popup-course__desc
				p.p Вы получите знания в области:
				ul.ul
					li.ul__li научных основ менеджмента и принципов создания акционерной стоимости;
					li.ul__li структуры активов, стоимости капитала и доходности требуемой инвесторам;
					li.ul__li принципов измерения стоимости активов и обязательств;
					li.ul__li принципов управления стоимостью активов и компаний;
					li.ul__li корпоративных финансов и инвестиционного менеджмента;
					li.ul__li финансового моделирования и анализа данных;
					li.ul__li измерения стоимости нематериальных активов и интеллектуальной собственности
					li.ul__li измерения стоимости финансовых инструментов – долговых и производных;
					li.ul__li основ проектного финансирования;
					li.ul__li принципов маркетинга и бренд-менеджмента;
					li.ul__li личностного и профессионального развития;
					li.ul__li управления человеческими ресурсами организации.
				p.p В процессе обучения слушатели овладеют навыками и познакомятся с современными технологиями анализа, измерения и управления стоимостью активов и компаний (бизнеса), которые помогут:
				ul.ul
					li.ul__li провести анализ структуры активов компании, их рисков и риска самой компании;
					li.ul__li понимать требования различных классов инвесторов и их инвестиционные предпочтения;
					li.ul__li определить и оценивать инвестиционную стратегию компании;
					li.ul__li выбрать оптимальные способы финансирования ее деятельности;
					li.ul__li оценить стоимость и риски использования финансовых инструментов;
					li.ul__li эффективно управлять активами компании и акционерной стоимостью;
					li.ul__li организовывать due diligence и проводить оценку стоимости в сделках M&A;
					li.ul__li провести оценку стоимости компании и акционерного капитала; 
					li.ul__li провести анализ и оценку стоимости компаний в ресурсных отраслях;
					li.ul__li выполнить оценку нематериальных активов и интеллектуальной собственности;
					li.ul__li определить метрики для оценки эффективности деятельности компании и создания стоимости;
					li.ul__li выбрать источники информации необходимые для использования в бизнес-аналитике;
					li.ul__li обеспечивать инвестиционную привлекательностью компании;
					li.ul__li сформировать требования к компетенциям ключевого персонала.
			p.p
				a.button.button_size_lg.button_theme_burgundy.popup-course__button(href="#order" data-fancybox) Получить консультацию
				a.button.button_size_lg.button_theme_burgundy-bordered.popup-course__button(href="#order" data-fancybox) Получить учебный план
			p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#course-4.popup-course: .popup-course__container
		.popup-course__column.popup-course__column_pr
			.popup-course__cell.popup-course__cell_name
				.popup-course__mba MBA
				.popup-course__name Управление продажами
			.popup-course__cell.popup-course__cell_pr
				img.popup-course__pr(src="images/popup-course/4.jpg" width="450" height="400")
		.popup-course__column.popup-course__column_desc: .popup-course__inner
			.popup-course__title Программа МВА, специализация: «Управление продажами»
			.popup-course__slogan MBA-programme, specialization – sales management
			.popup-course__desc
				p.p Вы получите знания в области:
				ul.ul
					li.ul__li научных основ бизнеса и менеджмента;
					li.ul__li процесса построения системы продаж в организации и продвижения товаров и услуг;
					li.ul__li базовых концепций в области моделирования системы продаж;
					li.ul__li специфики формирования стратегии доминирования в продажах;
					li.ul__li технологий создания уникального ценностного предложения, как способа отстройки на конкурентном рынке;
					li.ul__li стратегий построения продаж;
					li.ul__li типов продаж и каналов продвижения;
					li.ul__li ключевых факторах успеха в каждом канале продвижения;
					li.ul__li организационно–функциональных моделей, соответствующих каждому из трех типов продаж;
					li.ul__li специфики управления персоналом в продажах и особенностей мотивации продаж;
					li.ul__li средств коммуникации свойственных каждому каналу сбыта. 
					li.ul__li управления отношения с клиентами;
					li.ul__li маркетинга и бренд-менеджмента;
					li.ul__li личностного и профессионального развития;
					li.ul__li управления человеческими ресурсами организации.
				p.p В процессе обучения слушатели овладеют современными управленческими технологиями и технологиями доминирования в продажах, которые помогут:
				ul.ul
					li.ul__li специфичными инструментами работы в каждом канале продвижения;
					li.ul__li  выстроить модель конкурентного рынка вокруг компании;
					li.ul__li  использовать конкретные инструменты коммуникации, свойственных каждому типу продаж;
					li.ul__li  использовать инструменты планирования и контроля для продаж различных типов;
					li.ul__li  результативно проводить обсуждения с продавцами планов продаж и контролировать их исполнение;
					li.ul__li  проводить аудит продаж и способов корректировки отклонений;
					li.ul__li  осуществлять набор, соответствующий типу продаж персонала;
					li.ul__li  составить и внедрить корпоративный кодекс продаж;
					li.ul__li  эффективно использовать технологии привлечения кандидатов в продажи;
					li.ul__li  разработать и реализовать стратегию доминирования в продажах;
					li.ul__li  эффективно вести переговоры в крупных продажах;
					li.ul__li  использовать современные цифровые технологии в управлении продажами;
					li.ul__li  использовать инструменты Big Data и бизнес-аналитики для повышения эффективности  управленческих решений;
					li.ul__li  обеспечить сбалансированность бизнес-процессами продвижения и продажи товаров и услуг;
					li.ul__li  сформировать эффективную команду.

			p.p
				a.button.button_size_lg.button_theme_burgundy.popup-course__button(href="#order" data-fancybox) Получить консультацию
				a.button.button_size_lg.button_theme_burgundy-bordered.popup-course__button(href="#order" data-fancybox) Получить учебный план
			p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-1.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/1.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Лопатников Александр Николаевич
			.popup-teacher__slogan Руководитель авторской программы MBA «Управление стоимостью бизнеса».
			.popup-teacher__text 
				p.p Управляющий директор, «АМЕРИКЭН АППРЕЙЗЭЛ» (РОССИЯ).
				p.p Член экспертной группы, учрежденной Комитетом по Международным Стандартам Оценки для целей разработки стандартов МСО для добывающих отраслей, член Российского Общества Оценщиков, Королевского Института Сертифицированных Оценщиков (RICS), Канадского Института Горной Промышленности, Металлургии и Нефти и кандидат в члены Американского Общества Оценщиков.
				p.p Руководит оценочными и консультационными работами для горнодобывающих компаний, работающих в России, Китае, Казахстане, Монголии, Южной Африке и Австралии, в том числе таких как «Норильский Никель», «Моликорп», «Полиметал», «ENRC», «Русал», «Казахмыс», «Евраз», «Мечел», «Северсталь-ресурс», «Петропавловск», «IRC Ltd», «Монгольская добывающая корпорация», «UMMC», «Металлоинвест», «Sino Oil and Gas Holdings» и многих других.
				p.p: a(href="http://www.american-appraisal.ru" tabindex="-1") http://www.american-appraisal.ru
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-2.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/2.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Тосунян Гарегин Ашотович
			.popup-teacher__slogan Председатель итоговой аттестационной комиссии по программе МВА – Банковский менеджмент.
			.popup-teacher__text
				p.p Проводит круглые столы и мастер-классы.
				p.p Российский банкир, президент Ассоциации российских банков. Член-корреспондент Российской академии наук, Заслуженный деятель науки Российской Федерации, Профессор, Доктор юридических наук, Кандидат физико-математических наук. Советник Председателя Совета Федерации Федерального Собрания РФ. Указом Президента РФ присвоено звание "Заслуженный деятель науки Российской Федерации". Председатель Совета Московского банковского союза (с 2002 г.). Председатель Всероссийского Совета региональных банковских объединений (с 2002 г.). Вице-президент Вольного Экономического Общества России (с 2010 г.). Вице-президент, академик Международной Академии менеджмента (c 2011 г.).
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-3.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/3.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Завадский Владислав Валерьевич
			.popup-teacher__slogan Руководитель авторской программы MBA «Управление продажами», бизнес-тренер, консультант по организации продаж.
			.popup-teacher__text
				p.p Автор более 80 тренинговых модулей по формированию навыков эффективных продаж и управлению продажами. Опыт работы бизнес-тренером 13 лет. За это время проведено более 300 тренингов для различных компаний. Постоянный автор статей на тему продаж и мотивации в изданиях: «Управление персоналом», «Sales Business», «PC Week/Russian Edition», «Навигатор страхового агента», «Искусство управления», «Управление сбытом» и др.
				p.p Freelance в области организации исследований лучших практик продаж, написания Sales Guide, проведения бизнес-тренингов для специалистов по продажам и руководителей в продажах.
				p.p Единственный в РФ тренер, авторизованный Cisco Business Learning на проведение обучения партнеров Cisco по технологиям продаж.
				p.p Основатель компании Morecolor - экслюзивный дистрибьютор 9 часовых брендов на рынке РФ. 
				p.p Клиенты: Первый БИТ, NVision Group, ООО СК "Цюрих", ГК «Легион», ЗебраТелеком , РА Нью-Тон, ГК Элкод, iMoney (АлтайЭнергоБанк), УРАЛСИБ, ГК КОМПЭЛ, EKF, ЭКООКНА, СвязьБанк, СБЕРБАНК1, Билайн СНГ, КБ Еврокоммерц, СК Национальная Страховая Группа, Альянс Росно Жизнь , ГК «Раздолье», ГК«КМ-Союз», MARVEL, MICS и другие.
				p.p: a(href="http://www.zavadski.ru") http://www.zavadski.ru
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-4.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/4.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Торичко Роман Анатольевич
			.popup-teacher__slogan Бизнес-тренер по курсу «Бренд-менеджмент».
			.popup-teacher__text
				p.p Кандидат филологических наук. Руководитель группы бренд-менеждмента и рекламы РАНХиГС. Профессиональный опыт в сферах организации и управления подразделениями маркетинга, маркетинговых коммуникаций в международных и российских компаниях.
				p.p Награды: • Медиа-менеджер года 2015 (Центр общественных связей РАНХиГС). • Конкурс на лучшую рекламу в сфере недвижимости «AdvertRealEstate-2007» за рекламную кампанию торгово-развлекательного комплекса «Столица». • Премия в номинации «Оригинальный рекламоноситель» на всероссийском конкурсе «ПРОФИ-2003» за идею продвижения медпрепарата «Альдоспрей».
				p.p Развитие бизнеса и альтернативных каналов продаж: Интернет, POS, digital marketing, SMM. Бренд-менеджмент и управление качеством. Продвижение компаний, товаров и услуг в следующих областях: банковские и страховые услуги, крупные автомобильные бренды, FMCG, розничные сети, образовательные услуги.
				p.p Клиенты: Societe Generale Group, Группа СУАЛ (Меткомбанк), СК НИКойл Страхование, СК Уралсиб, Абсолют Банк, Nissan Motor Rus, Suzuki, ИД Бурда, Playboy, Пивоваренная компания «Балтика», ФКЦБ, Росспиртпром, СК «Юниформстрой», СК «Энергогарант», МФ «Elt», КБ Агропромкредит.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-5.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/5.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Шаврин Илья Владимирович
			.popup-teacher__slogan Бизнес-тренер по курсу: «Техники сложных переговоров». 
			.popup-teacher__text
				p.p Глава департамента продаж компании Dr. Oetker.
				p.p Автор блога о технике сложных переговоров - NegotiationSkills.ru. Работает в направлении развития клиентов более 10 лет. Основной опыт получил в крупных международных и российских FMCG компаниях, таких как Балтика, ЮниМилк, Оркла Брендс, Нестле Россия и Колгейт – Палмолив.
				p.p В разное время отвечал за развитие прямых продаж в Москве и Московском регионе, развитие клуба дистрибуторов и построение долгосрочных отношений с торговыми сетями Метро, Перекресток, Виктория, 7 Континент, Азбука Вкуса и другими.
				p.p В основе техники обучения лежит применение бизнес ситуаций из профессионального опыта в сфере управления ключевыми клиентами, подготовки и проведения переговоров, а также обучения и развития сотрудников отдела продаж в форматах тренинг в классе и коучинг на рабочем месте.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-6.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/6.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Марич Игорь Леонидович
			.popup-teacher__slogan Учредитель и руководитель дискуссионного клуба ИДАБ «Инвест-менеджмент».
			.popup-teacher__slogan Преподаватель по курсам развития финансовой инфраструктуры и финансового рынка: Российский опыт и международная практика.
			.popup-teacher__text
				p.p Член Правления ПАО Московская Биржа, Управляющего директора по денежному и срочному рынкам.
				p.p Курирует бизнес-направления: денежный, валютный, срочный, товарный, а также продуктовый маркетинг, биржевую информацию и продвижение технологических услуг, клиентскую поддержку, филиалы и представительства в России и за рубежом.
				p.p С 2000 года работал на ММВБ, руководил развитием срочного рынка на ММВБ, а также разработкой и внедрением новых инструментов на рынках Группы ММВБ. Принимал активное участие в создании рынка РЕПО на ММВБ и в последующем развитии операций биржевого РЕПО, а также в организации проведения депозитно-кредитных операции банков на ММВБ. С 2011 года возглавил валютный и денежный рынки ММВБ (с 2012 г. -  ПАО Московская Биржа).
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-7.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/7.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Иванов Андрей Анатольевич
			.popup-teacher__slogan Бизнес-тренер по курсу: «Investor Relations: повышение капитализации компании, работа на рынке капитала».
			.popup-teacher__text
				p.p Действующий помощник депутата ГосДумы (Депутат от Ямало-Ненецкого АО, ЕР, Комитет по рег. политике и проблемам Севера и Дальнего Востока). Член Ассоциации полярников, менеджер работы Секции природопользования и экологической безопасности Совета по Арктике и Антарктике при Совете Федерации, член Межведомственного центра компетенций РГУ нефти и газа.  
				p.p Исполнительный директор Общественной организации «Зеленая Арктика». Организация экологических экспедиций и акций в Арктике, взаимодействие с органами гос. власти, представительские функции по проектам администрации ЯНАО в Москве.
				p.p Опыт работы в сфере управления по связям с общественностью: Банк «Российский кредит», инвестиционная группа «Атон», PR-агентство Corporate Communications, PR-агентство InForma, PR-агентство «Михайлов и партнеры. Опыт работы вице-президентом инвестиционной компании «Брокеркредитсервис», возглавлял Департамент внешних связей и Департамент слияний и поглощений. Возглавлял Департамент корпоративных финансов инвестиционной компании «Файненшл Бридж».
				p.p Клиенты: ОАО «Газпром нефть», ОАО «АНК Башнефть», ОАО «Севернефтегаз», ОМК, «Русал», «ГеоНедра», ЗАО «Недра-Консалт», ОАО «НОВАТЭК», ОАО «Ямал СПГ», ОАО «Газпром нефть», Chevron, Repsol, Shell, ОАО «Вагонмаш», Банк «Пушкино», ЗАО «Эркон-продукт», ИГ Регион, Dixis, НК РИТЭК, ИК Брокеркредитсервис, авиакомпания Austrian, Сонет, МТУ-Информ, МТУ-Интел и другие.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-8.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/8.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Ларионова Ирина Владимировна 
			.popup-teacher__slogan Преподаватель программы «МВА - Банковский менеджмент».
			.popup-teacher__text
				p.p Профессор, доктор экономических наук.
				p.p Преподает дисциплины: "Инструментарий банковского менеджмента", "Оценка и управление финансовой устойчивостью кредитной организации", "Управление активами и пассивами кредитной организации".
				p.p Специализируется на организации деятельности коммерческого банка, анализе финансового состояния и устойчивости кредитных организаций, управлении рисками, активами и пассивами в коммерческом банке.  Принимала участие в учебниках "Банковское дело" под редакцией проф. Лаврушина О.И., "Управление деятельностью коммерческого банка (банковский менеджмент)" под редакцией проф. Лаврушина О.И., "Оценка бизнеса", "Банковская система России (Настольная книга банкира)", "Банковский аудит" под редакцией проф. Мамоновой И.Д., "Управление банком", а также в монографии "Реорганизация коммерческих банков".  Имеет аттестат аудитора.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-9.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/9.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Ярыгина Ирина Зотовна
			.popup-teacher__slogan Преподаватель программ для работников Банка России.
			.popup-teacher__text
				p.p Доктор экономических наук, профессор. 
				p.p С 1999 года исполняла обязанности профессора по приглашению Университета Париж - 5, Франция. Многократно участвовала в заседаниях «круглых столов» и читала лекции в Великобритании, Германии, Испании, Канаде, Люксембурге, США, Франции, Чехии и других странах. 
				p.p Основные научные результаты исследований использовались Секретариатом Рабочей группы Уполномоченных представителей (РГУП) глав делегаций стран Центральной и Восточной Европы и Юго-Восточной Азии в процессе подготовки, обсуждения и принятия решений по вопросам координации банковской деятельности, управления рисками, разработки кредитной политики, совершенствования структур частных и межгосударственных банков на заседаниях РГУП, Глав делегаций, Советов Банков и межведомственных международных групп в период 2003-2007 гг. в гг. Москве, РФ; Карловых Варах, Праге, Чешская Республика; Хошимине, Вьетнам и др. (на уровне глав государств).
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-10.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/10.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Кирсанова Ирина Анатольевна
			.popup-teacher__slogan Бизнес-тренер по курсам «Стратегический маркетинг», «Управление маркетингом на предприятии», «Маркетинг и продажи».
			.popup-teacher__text
				p.p Консультант по организации системы маркетинга в компаниях.
					| Руководила управлением маркетинга и рекламы в компании «Вектор Инвестментс». На протяжении 9 лет была заместителем генерального директора по маркетингу и продажам инвестиционно - девелоперской компании полного цикла «Пересвет-Инвест». Руководила департаментом консалтинга и маркетинга международной консалтинговой компании «ASTERA», в альянсе с BNP Paribas Real Estate.
				p.p Опыт работы в маркетинге 17 лет. За это время была налажена система маркетинга с нуля в 3 компаниях, реализовано 27 стартап-проектов.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-11.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/11.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Финкельштейн Григорий Михайлович
			.popup-teacher__slogan Разработчик бизнес-кейсов по программам МВА. Бизнес-тренер по курсам: "Корпоративная культура", "Реинжиниринг бизнес-процессов".
			.popup-teacher__text
				p.p Партнер компании «ЭКОПСИ Консалтинг». Руководитель Центра анализа данных.
				p.p Кандидат технических наук по специальности «Моделирование социальных и экономических систем», доцент.
				p.p Бизнес-консультант, опыт работы более 19 лет. Автор ряда публикаций в деловой и специализированной прессе по вопросам экономики предприятий.
				p.p Занимается развитием новых направлений деятельности компании и работой с ключевыми клиентами. В настоящее время отвечает за HR-аналитику и внедрение в российских компаниях управления персоналом на основе данных: внедрение управления на основе данных; построение систем Talent и Performance management; разработка моделей компетенций, в том числе на основе данных; организационное проектирование; разработка ключевых показателей эффективности (KPI).
				p.p Клиенты: «Сбербанк России ПАО», ГК Росатом, ПАО «Уралкалий», ПАО «НК «Роснефть, ПАО «Ростелеком» и другие.
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-12.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/12.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Чистякова Елена Вячеславовна
			.popup-teacher__slogan Бизнес-тренер по блоку дисциплин личностного роста, профессиональный коуч.
			.popup-teacher__text
				p.p Руководитель проектов по неиерархическому управлению, обучению и развитию персонала.
				p.p Специализируется в сферах: изменения корпоративной культуры, внедрения систем геймификации, повышения производительности труда в офисе, неиерархического и дистанционного управления.
				p.p Клиенты – сотрудники компаний Росатом, Ростелеком, Boeing, Сбербанк, ВТБ, ВТБ capital, Промсвязьбанк, SMBC,FlyDubai, AirCharterService, Siemens, IBM, PhilipMorris, Microsoft, Полипласт, Вымпелком, Bristol-MyersSquibb, Ernst&Young, PWHC, Ингосстрах, Газпром, Роснефть, Лукоил, Тюменскнефтегаз, Росгазификация, Татнефть, Энергетические компании в регионах, Сибур, WorldClass, X-fit, Росинтер групп, Cosmo, BAT, ROLF, Томас-бетон, Мазда, Европолы, Клазко, Sanofi, Essilor, Клиника Бурназяна, Промопост, Ашан, Секрет Фирмы, Смоленские бриллианты, FreyVille, Fashion House, Японского центра МГУ, Московской Городской Думы, Немецкого дома в Москве, Совета Федерации, Пресс-службы губернатора ХМАО, Администрации Астраханской области, ФНС России.
				p.p: a(href="http://echistyakova.ru") http://echistyakova.ru
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-13.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/13.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Терехов Алексей Геннадьевич
			.popup-teacher__slogan Бизнес-тренер по курсам: "Финансовый менеджмент".
			.popup-teacher__text
				p.p Партнер ФБК, Вице-президент по вопросам аудиторских и консультационных услуг финансовым институтам.
				p.p В аудиторско-консультационном бизнесе с 1996 года. Имеет большой опыт управления масштабными проектами. За время работы руководил значительным числом проектов (более 100), связанных с проведением аудита в соответствии с российскими и международными стандартами (РСБУ и МСФО), консультированием клиентов в области бухгалтерского учета и налогообложения, трансформацией бухгалтерской отчетности в соответствии с МСФО, финансового и управленческого консультирования. Принимал активное участие в разработке стратегии развития бизнеса в кредитных организациях, в том числе: выбор перспективных сфер экономики, выбор услуг, а также анализ деятельности конкурентов. Являлся руководителем проектов по аудиту выполняемых по специальному заданию МБРР для банков участников Проекта развития финансовых учреждений. Ежегодно принимает участие в организации семинаров, круглых столов для коммерческих банков на тему Международных стандартов финансовой отчетности и их применения в банковской практике.
				p.p: a(href="http://www.fbk.ru") http://www.fbk.ru
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-14.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/14.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Сухарева Наталья Александровна
			.popup-teacher__slogan Доцент, преподаватель делового английского языка.
			.popup-teacher__text 
				p.p Внутрикорпоративные обучающие лекции и практические занятия по дисциплине «Межкультурная коммуникация и язык делового общения». Специализируется в сфере межкультурной коммуникации, делового общения, кросс-культурных аспектов. Имеет сертификаты «Особенности преподавания делового английского языка» (выдан в Министерстве экономического развития и торговли РФ, Высшая коммерческая школа), «Международный финансовый и банковский менеджмент» (выдан Банковский институт Висока Школа, Прага).
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-15.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/15.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Терехова Анжелика Георгиевна
			.popup-teacher__slogan Преподаватель по программам МВА по курсу: «Система внутреннего контроля организаций», а также по программам Банка России.
			.popup-teacher__text
				p.p Кандидат экономических наук. MICA, International Diploma in Compliance. Аттестат ФСФР 1.0, 4.0 и 5.0. Аттестат банковского аудитора.
				p.p Управляющий партнер ООО «Инвестэкспертиза-М». Директор проектов ДАКУФИ ФБК Гранд Тортон. Директор Департамента внутреннего контроля и аудита ЗАО «Энвижн Груп».
				p.p В 2008 – 2013 годах была начальником Группы внутреннего контроля региональных филиалов Отдела банковского аудита Управления внутреннего контроля ОАО «Альфа-Банк». В 2010-2014 годах являлась экспертом Службы внутреннего контроля ОАО «Внешторгбанк» (ВТБ). В 2013-2014 годах была заместителем Председателя Правления банка – Руководителем Службы внутреннего контроля КБ «АГРОПРОМКРЕДИТ». В 2014-2017 годах руководила Финансовой секцией российского филиала Института внутренних аудиторов. Была директором по внутреннему аудиту ЗАО «Инвестиционная Группа «КапиталЪ», заместителем генерального директора по внутреннему аудиту ЗАО Группа «КапиталЪ».
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#teacher-16.popup-teacher: .popup-teacher__container
		.popup-teacher__column.popup-teacher__column_pr
			img.popup-teacher__pr(src="images/teacher/16.jpg" width="400" height="400")
		.popup-teacher__column.popup-teacher__column_desc
			.popup-teacher__title Кордичев Алексей Сергеевич
			.popup-teacher__slogan Преподаватель по программе МВА «Банковский менеджмент», курсы: «Построение системы риск-менеджмента кредитной организации», «Инструментарий банковского менеджмента».
			.popup-teacher__text
				p.p Председатель Правления ПАО КБ «Восточный».
				p.p С 2006 года работал в ОАО АКБ «РОСБАНК», где занимался внедрением и развитием систем управления рисками, совершенствованием скоринговых систем, а также принимал участие в управлении проектами в рамках интеграции с группой Societe Generale. В январе 2010 года возглавил Кредитный департамент (в дальнейшем Блок контроля рисков) ЗАО «Банк Русский Стандарт», курировал работу кредитного центра, подразделений андеррайтинга и верификации, а также отвечал за взыскание просроченной задолженности. В конце 2013 года присоединился к команде «Восточного» и возглавил Блок рисков. В феврале 2015 года назначен на пост первого заместителя председателя Правления. В октябре 2015 г. назначен председателем Правления банка.
				p.p: a(href="http://www.vostbank.ru") http://www.vostbank.ru
				p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться

	#order.popup-order: form
		.popup-order__title Хотите обучаться у опытных практиков? ИДАБ принимает заявки на участие!
		p.p.popup-order__slogan Заполните форму и мы свяжемся с вами для уточнения деталей

		.popup-order__group.group-field
			.group-field__icon: svg.svg.block(width="22" height="24"): use(xlink:href="images/sprite.svg#user")
			input.group-field__input(placeholder="Ваше имя")

		.popup-order__group.group-field
			.group-field__icon: svg.svg.block(width="25" height="25"): use(xlink:href="images/sprite.svg#phone2")
			input.group-field__input(placeholder="Номер телефона")

		.popup-order__group.group-field
			.group-field__icon: svg.svg.block(width="32" height="21"): use(xlink:href="images/sprite.svg#email")
			input.group-field__input(placeholder="Электронная почта")

		p.p: button.popup-order__button.button.button_theme_burgundy.button_size_lg Отправить заявку
		p.p: a.popup-link.text_color_burgundy(data-fancybox-close href="#close") Вернуться